# Data Type Casting Notebook

In [1]:
import os

import pandas as pd
import numpy as np

In [1]:
# Global variables

cwd = os.getcwd()

# Set the right parameters
file_name = 'isl_gl.csv'
decimal = '.'
delimiter = ';'

# If you get the following error message while importing the csv file
# `utf-8 cannot decode hex`
# use the encoding below

encoding = 'latin-1'

# Define new variable names for all variables in the data set
#

NameError: name 'os' is not defined

In [3]:
df = pd.read_csv(filepath_or_buffer=f'{cwd}\data\{file_name}', delimiter=delimiter, decimal=decimal, encoding=encoding)

## Data Understanding

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48118 entries, 0 to 48117
Data columns (total 61 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0                              48118 non-null  int64
 1   Journal                    48118 non-null  object
 2   Number                     48118 non-null  int64
 3   Type                       29483 non-null  object
 4   Financial year/period      48118 non-null  object
 5   Date                       48118 non-null  object
 6   Due date                   21926 non-null  object
 7   Estimated date             14802 non-null  object
 8   Loc Currency               48118 non-null  object
 9   Invoice Currency           48118 non-null  object
 10  Debit (local currency)     27651 non-null  object
 11  Credit (local currency)    20467 non-null  object
 12  Debit - Invoice Currency   48118 non-null  object
 13  Credit - Invoice Currency  48118 non-null  object
 14  Lettering                  20964 non-null  object
 15  Lettering status           48118 non-null  int64
 16  Journal type               48118 non-null  object
 17  Approval code              44124 non-null  float64
 18  Header description         19067 non-null  object
 19  External reference         23802 non-null  object
 20  VCS                        0 non-null      float64
 21  Company                    41147 non-null  float64
 22  Company.1                  41147 non-null  object
 23  General account            48118 non-null  int64
 24  Analytics Sht.             19975 non-null  object
 25  Analytics                  19975 non-null  float64
 26  School year Sht.           23652 non-null  object
 27  Projet Sht.                0 non-null      float64
 28  Person Sht.                4201 non-null   object
 29  Fixed asset number         132 non-null    float64
 30  Fixed asset                132 non-null    object
 31  Description                47423 non-null  object
 32  Exchange rate              48118 non-null  float64
 33  Quantity                   48118 non-null  float64
 34  Phasing period             0 non-null      float64
 35  Dispute code               0 non-null      float64
 36  Reminder level             23508 non-null  float64
 37  Contract                   0 non-null      float64
 38  Comment                    4078 non-null   object
 39  Amount (local cur.)        48118 non-null  object
 40  Int. Ref.                  32454 non-null  object
 41  Additional area 1          0 non-null      float64
 42  Additional area 1 Sht.     0 non-null      float64
 43  Additional area 4          0 non-null      float64
 44  Additional area 4 Sht.     0 non-null      float64
 45  Additional area 2          0 non-null      float64
 46  Additional area 2 Sht.     0 non-null      float64
 47  Reconciliation reference   0 non-null      float64
 48  Additional area 3          0 non-null      float64
 49  Imputation code            8769 non-null   object
 50  Loan number                48118 non-null  int64
 51  Additional area 3 Sht.     0 non-null      float64
 52  Company profile Customer   16314 non-null  object
 53  Creation User              48118 non-null  object
 54  Creation Date              48118 non-null  object
 55  Update User                48118 non-null  object
 56  Update Date                48118 non-null  object
 57  Profile Supplier           24833 non-null  object
 58  Approval Name              6891 non-null   object
 59  Approval Date              6891 non-null   object
 60  Approval Time              6891 non-null   object
dtypes: float64(21), int64(5), object(35)
memory usage: 22.4+ MB

!Note! 

1. Every variable that has a data type of object needs casting

2. Check if any other variable doesn't have your desired data type

3. Check the format of integers and floating point numbers

In [5]:
def data_type_casting(df, variables = [], dtypes = []) -> pd.DataFrame:
    """
    Function to cast the data type of given variables
    In compliance with the new pandas version which deprecates inplace changes
    """

    if len(variables) != len(dtypes):
        print('There is a 1 to 1 relationship')

    if len(variables) != 0:

        df_tmp = df.copy()

In [35]:
df_t = df.copy()

df_t["Financial year/period"] = "01/" + df_t["Financial year/period"].apply(lambda x: x[5:8]) + "/" + df_t["Financial year/period"].apply(lambda x: x[0:4]) 

df_t["Financial year/period"][191]

'01/01/2017'

In [36]:
df_t.to_csv(f'{file_name}_type_casting.csv', sep=";")